# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=dbUser
DB_PASSWORD=dbPassword
DB_NAME=dbName

# Redis config
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=yourRedisPasswordHere
REDIS_DB=0

# Application Configuration
SECRET_KEY=yourSecretKeyHere
# ONLY FOR TESTING. Any account will unlock with the password specified here
# MASTER_PASSWORD=your_master_password_here

# LLM config
OPENAI_API_KEY=your_key_here
DEEPINFRA_API_KEY=your_key_here
Z_AI_API_KEY=your_key_here

# Telegram
TELEGRAM_CHAT_ID=your_chat_id_here
TELEGRAM_BOT_TOKEN=your_telegram_token_here